.sectionCard {
    background-color: #fff;
    margin-top: 4px;
    padding: 12px;
}

.pageActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageActionButton {
    cursor: pointer;
    border: none;
    background: transparent;
}

.pageActionButton:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.pageActionButton svg {
    margin-bottom: -8px;
}
